{% load static %}
<html>
    <head>
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>Tic Tac Toe!</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>