{% extends 'game/base.html' %}

{% block content %}

<div id = "game-status">
{% if status == "N" %}
    {% if player == 1 %}
        <p>It is player 1s turn (O's).</p>
    {% else %}
        <p>It is player 2s turn (X's).</p>
    {% endif %}
{% elif status == "1" %}
    <p>Player 1 has won the game!</p>
{% elif status == "2" %}
    <p>Player 2 has won the game!</p>
{% elif status == "D" %}
    <p>The game has ended in a draw.</p>
{% endif %}
</div>

<div class = "board">
{% for val in board %}
    {% if val == 0 %}
    <span class = "square playable" id = "square-{{ forloop.counter0 }}">
    <form action = "{% url 'game:make_move' id %}" method="POST">
        {% csrf_token %}
        <input name="move" value="{{ forloop.counter0 }}" type="hidden">
        <button type="submit">{{ next_player }}</button>
    </form>
    </span>

    {% else %}
    <span class = "square unplayable" id = "square-{{ val }}">
        {% if val == 1 %}
            <span>O</span>
        {% elif val == 2 %}
            <span>X</span>
        {% endif %}
    {% endif %}
    </span>

{% endfor %}
</div>

{% endblock %}